<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.order.OrderDetailMapper">
    <insert id="insOrderDetail">
        INSERT INTO t_order_details
        SET iorder = #{iorder},
            iproduct = #{iproduct},
            product_cnt = #{productCnt},
            product_price = #{productPrice},
            product_total_price = #{productTotalPrice}
    </insert>

    <select id="selOrderDetailsForPurchase">
        SELECT iproduct, B.product_nm, A.Product_cnt, A.product_total_price, B.rep_pic
        FROM t_order_details A
        JOIN t_product B
        USING (iproduct)
        WHERE A.iorder = #{iorder}
    </select>

    <update id="updOrderRefundFl">
        UPDATE t_order_details
        SET refund_fl = 1
        WHERE idetails = #{idetails}
    </update>

    <insert id="insRefund">
        INSERT INTO t_refund
        SET idetails = #{idetails},
            contents = #{contents},
            refund_cnt = #{refundCnt},
            refund_price = #{refundPrice}
    </insert>

    <update id="updRefund">
        UPDATE t_refund
        SET complete_fl = 1
        WHERE idetails = #{idetails}
    </update>
</mapper>