<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.product.ProductMapper">
    <select id="search">
        SELECT A.iproduct, M.imiddle, A.product_nm, A.price, A.rc_fl, A.pop_fl, A.new_fl, A.rep_pic,
        COUNT(DISTINCT R.iorder) AS reviewCnt,
        IF(COUNT(L.iuser) > 0, 1, 0) AS likeProduct
        FROM t_product A
        JOIN t_middle_category M ON A.imiddle = M.imiddle
        LEFT JOIN t_review R ON A.iproduct = R.iproduct
        LEFT JOIN t_wish_list L ON A.iproduct = L.iproduct
        <where>
            <if test='cat != null and cat.size() > 0'>
                <foreach collection="cat" item="cat" separator="OR" open="(" close=")">
                    (A.imiddle = #{cat.imiddle} and A.imain = #{cat.imain})
                </foreach>
            </if>
            <if test='cat == null or cat.size() == 0'>1=1</if>
            <if test="keyword != null and keyword != ''">AND A.product_nm LIKE CONCAT('%', #{keyword}, '%')</if>
            <if test="minPrice !=0 and maxPrice !=0">AND A.price <![CDATA[>=]]> #{minPrice} AND A.price <![CDATA[<=]]>#{maxPrice}</if>
            <if test="minPrice ==0 and maxPrice ==0">AND 1=1</if>
            <if test="minPrice ==0 and maxPrice !=0">AND A.price <![CDATA[<=]]> #{maxPrice}</if>
            <if test="minPrice !=0 and maxPrice ==0">AND A.price <![CDATA[>]]>= #{minPrice}</if>
        </where>
        GROUP BY A.iproduct
        ORDER BY
        <choose>
            <when test="sortBy == 0">A.created_at DESC</when>
            <when test="sortBy == 1">A.price DESC</when>
            <when test="sortBy == 2">A.price ASC</when>
        </choose>
        LIMIT #{startIdx},#{rowCount}
    </select>

    <select id="maimSelVo">
        SELECT A.iproduct, A.product_nm, A.price, A.rc_fl, A.pop_fl, A.new_fl, A.rep_pic,
        COUNT(DISTINCT R.iorder) AS reviewCnt,
        IF(COUNT(L.iuser) > 0, 1, 0) AS likeProduct
        FROM t_product A
        LEFT JOIN t_review R ON A.iproduct = R.iproduct
        LEFT JOIN t_wish_list L ON A.iproduct = L.iproduct
        WHERE A.rc_fl = 1
        GROUP BY A.iproduct
    </select>

    <select id="SelNewProduct">
        SELECT A.iproduct, A.product_nm, A.price, A.rc_fl, A.pop_fl, A.new_fl, A.rep_pic,
        COUNT(DISTINCT R.iorder) AS reviewCnt,
        IF(COUNT(L.iuser) > 0, 1, 0) AS likeProduct
        FROM t_product A
        LEFT JOIN t_review R ON A.iproduct = R.iproduct
        LEFT JOIN t_wish_list L ON A.iproduct = L.iproduct
        WHERE A.new_fl = 1
        GROUP BY A.iproduct
    </select>

    <select id="SelPopProduct">
        SELECT A.iproduct, A.product_nm, A.price, A.rc_fl, A.pop_fl, A.new_fl, A.rep_pic,
        COUNT(DISTINCT R.iorder) AS reviewCnt,
        IF(COUNT(L.iuser) > 0, 1, 0) AS likeProduct
        FROM t_product A
        LEFT JOIN t_review R ON A.iproduct = R.iproduct
        LEFT JOIN t_wish_list L ON A.iproduct = L.iproduct
        WHERE A.pop_fl = 1
        GROUP BY A.iproduct
    </select>

    <select id="selProductMainByAge">
        SELECT A.iproduct, A.product_nm, A.price, A.rc_fl, A.pop_fl, A.new_fl, A.rep_pic,
        COUNT(DISTINCT R.iorder) AS reviewCnt,
        IF(COUNT(L.iuser) > 0, 1, 0) AS likeProduct
        FROM t_product A
        LEFT JOIN t_review R ON A.iproduct = R.iproduct
        LEFT JOIN t_wish_list L ON A.iproduct = L.iproduct
        LEFT JOIN t_user_child UC ON A.recommand_age = UC.ichild_age
        <where>
            <foreach collection="recommandAge" item="recommandAge" separator="or">
                A.recommand_age = #{recommandAge}
            </foreach>
        </where>
        GROUP BY A.iproduct
    </select>

    <select id="userChildAge"> <!--로그인시 유저자녀 나이 -->
        SELECT ichild_age
        FROM t_user_child
        where iuser = #{iuser}
    </select>

    <select id="selProductPics">
        SELECT product_pic
        FROM t_product_pics
        WHERE iproduct = #{iproduct}
    </select>

    <select id="selReviewPicsAll">
        SELECT ireview,review_pic as reviewPic
        FROM t_review_pics
        WHERE ireview in (
        <foreach collection="ireview" item="ireview" separator=",">
            #{ireview}
        </foreach>
        )
    </select>

    <select id="getProductList">
        SELECT A.iproduct, A.imiddle, A.imain, A.product_nm, A.price, A.rc_fl, A.pop_fl, A.new_fl, A.rep_pic,
        COUNT(DISTINCT R.iorder) AS reviewCnt,
        IF(COUNT(L.iuser) > 0, 1, 0) AS likeProduct
        FROM t_product A
        JOIN t_middle_category M ON A.imiddle = M.imiddle
        LEFT JOIN t_review R ON A.iproduct = R.iproduct
        LEFT JOIN t_wish_list L ON A.iproduct = L.iproduct
        <where>
            <if test="imiddle !=0 and imain !=0">A.imiddle = #{imiddle} AND A.imain = #{imain}</if>
            <if test="imiddle ==0 and imain !=0">A.imain = #{imain}</if>
            <if test="imiddle !=0 and imain ==0">A.imiddle = #{imiddle}</if>
        </where>
        GROUP BY A.iproduct
        ORDER BY
        <if test="sortBy == 0">A.created_at DESC</if>
        <if test="sortBy == 1">A.price desc</if>
        <if test="sortBy == 2">A.price ASC</if>
        LIMIT #{startIdx},#{rowCount}
    </select>


    <select id="selProductBasket">
        SELECT A.iproduct, A.product_nm, A.rep_pic, A.price, B.product_cnt, A.price * B.product_cnt AS totalPrice
        FROM t_product A
        JOIN t_basket B ON A.iproduct = B.iproduct
        JOIN t_user C ON C.iuser = B.iuser
        WHERE B.iuser = #{iuser}
    </select>

    <insert id="insBasket">
        INSERT INTO t_basket
        SET iuser = #{iuser}
        ,iproduct = #{iproduct}
        ,product_cnt = #{productCnt}
        ,price = (select price FROM t_product WHERE iproduct =#{iproduct}) * #{productCnt}
    </insert>
    <select id="selProductCntBasket">
        SELECT product_cnt
        FROM t_basket
        where iuser = #{iuser}
        and iproduct = #{iproduct}
    </select>
    <update id="uptBasketProductCnt">
        UPDATE t_basket
        SET
        product_cnt = #{productCnt},
        price = (SELECT price FROM t_product WHERE iproduct = #{iproduct}) * #{productCnt}
        WHERE
        iuser = #{iuser} AND iproduct = #{iproduct}
    </update>



    <delete id="delBasket">
        DELETE FROM t_basket
        WHERE iproduct IN
        <foreach collection="iproduct" item="iproduct" open="(" separator="," close=")">
            #{iproduct}
        </foreach>
        AND iuser =#{iuser}
    </delete>


    <select id="selProductInformation">
        SELECT A.product_nm, A.iproduct, A.rep_pic, A.price, A.product_details,
        if(B.iuser IS NULL, 0, 1) AS likeProduct
        FROM t_product A
        LEFT JOIN t_wish_list B ON A.iproduct = B.iproduct
        AND B.iuser = #{iuser}
        WHERE A.iproduct = #{iproduct}
    </select>
    <select id="selProductAverage">
        SELECT COUNT(ireview) AS reviewCnt ,
        AVG(product_score) AS avgProductScore
        FROM t_review
        WHERE iproduct = #{iproduct}
    </select>


    <insert id="insertLikeProduct">
        INSERT INTO t_wish_list
        SET iuser = #{iuser}
        ,iproduct = #{iproduct}
    </insert>
    <delete id="deleteLikeProduct">
        DELETE
        FROM t_wish_list
        WHERE iuser = #{iuser} AND iproduct = #{iproduct}
    </delete>


    <insert id="insProduct" useGeneratedKeys="true" keyProperty="iproduct">
        INSERT INTO t_product
        SET
        imain = #{imain}
        ,imiddle = #{imiddle}
        ,product_nm = #{productNm}
        ,product_details = #{productDetails}
        ,recommand_age = #{recommandAge}
        ,price = #{price}
        ,remained_cnt = #{remainedCnt}
    </insert>

    <insert id="insProductPics">
        <selectKey keyProperty="repPic" order="AFTER" resultType="String">
            SELECT product_pic AS repPic
            FROM t_product_pics
            GROUP BY iproduct
            HAVING iproduct = #{iproduct}
        </selectKey>
        INSERT INTO t_product_pics
        (iproduct, product_pic)
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            (#{iproduct}, #{pic})
        </foreach>
    </insert>

    <update id="updProductRepPic">
        UPDATE t_product
        SET rep_pic = #{repPic},
            product_details = #{productDetails}
        WHERE iproduct = #{iproduct}
    </update>

    <update id="updProductDetails">
        UPDATE t_product
        SET product_details = #{productDetails}
        WHERE iproduct = #{iproduct}
    </update>
</mapper>